<div>
  <div class="link">
  <%=link_to'close', root_path%>
  </div>
  <div class='object'><%= @mail.object %></div>
  <%= @mail.body %><br>
  <%= link_to 'Delete !',@mail, method: :delete, :remote=>true, :class =>'delete_mail'%>
</div>
